.imdb-lookup-mappings {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.imdb-lookup-mapping {
    background: var(--background-secondary);
    border-radius: 8px;
    padding: 4px 12px;
}

.imdb-lookup-mapping .setting-item {
    border-top: none;
    padding: 8px 0;
}

.imdb-lookup-mapping .setting-item-control {
    gap: 12px;
}

.imdb-lookup-mapping .setting-item-control input[type="text"] {
    width: 150px;
}